[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
Flask = "*"
pylint = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-WTF = "*"
email-validator = "*"

[requires]
python_version = "3.8"
