[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mail = "*"
flask-wtf = "*"
email-validator = "*"
flask-admin = "*"

[dev-packages]
Flask = "*"
pylint = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-WTF = "*"
email-validator = "*"
flask-mail = "*"

[requires]
python_version = "3.8"
