
html,body{
/*background-image: url('https://raw.githubusercontent.com/basnijholt/lovelace-ios-dark-mode-theme/master/backgrounds/homekit-bg-4.jpeg');
background-size: cover;
background-repeat: no-repeat;*/
background-color: darkslateblue;
height: 100%;
}


.alert_card_sign_up{
height: 50px;
margin-top: -50px;
margin-bottom: auto;
width: 400px;
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
border-radius: .25rem;
text-align: center;
vertical-align: middle;
display: table-cell;
}

.alert_card_login{
height: 50px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
border-radius: .25rem;
text-align: center;

}

.bg-dark-custom{
background-color: rgba(0,0,0,0.5)
}


.container{
height: 100%;
align-content: center;
}

.card_login{
height: 460px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-radius: .25rem;  
}

.card_login_with_alert_login{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
}

.card_login_with_alert_sign_up{
height: 300px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
}

.card_sign_up{
height: 620px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-radius: .25rem;  
}

.card_email{
height: 360px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-radius: .25rem;  
}

.card_password{
height: 440px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-radius: .25rem;  
}


.card-header h3{
color: white;
}

.dropdown-menu-custom{
position: absolute;
top: 5rem;
left: 5rem;
z-index: 1000;
display: inherit;
float: left;
min-width: 10rem;
width: 13rem;
padding: .5rem 0;
margin: .125rem 0 0;
font-size: 1rem;
color: white;
text-align: left;
list-style: none;
background-color: rgba(0,0,0,0.5) !important;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.15);
border-radius: .25rem;   
}

.dropdown-item-custom{
color: white ;
display: block;
width: 100%;
padding: .25rem 1.5rem;
clear: both;
font-weight: 400;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
border: 0;
}

.dropdown-item-custom:focus, .dropdown-item-custom:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.form-check-label{
color: white;    
}

.form-control-label{
color:white;    
}

.input-group-prepend span{
width: 50px;
background-color: #007bff;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #007bff;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.text-muted-custom{
    color: white;
    padding-left: 1.5rem;
}

.text-muted-custom-login{
    color: white;
    padding-left: 1rem;
}