{% extends "base.html" %}

{% block title %} 
Notes
{% endblock %}

{% block content %}
<div class="container">
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card-body">
        <a href="{{ url_for('notes.add_note') }}" type="add" class="btn btn-outline-primary btn-lg btn-block">Add</a>
    </div>
    <div class="card-body">    
        <ul style="list-style-type: none;">
            {% for note in notes %}
                <li style="font-size: 4vw; color: white; padding-bottom: 2rem;"> 
                    <a href="{{ url_for('notes.edit_note', id=note.id) }}" style="text-decoration: none; color: white;" >{{ note.title}}</a>
                    <button type="button" class="btn float-ribtn float-right btn-outline-danger btn-responsive" data-toggle="modal" data-target="#deleteModal{{ note.id }}">Delete</button>
                    <a href="{{ url_for('notes.edit_note', id=note.id) }}" type="edit" class="btn float-ribtn float-right btn-outline-primary btn-space btn-responsive">Edit</a>   
                </li>
                <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete note?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{{ url_for('notes.delete_note', id=note.id) }}" type="delete" class="btn btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}