{% extends "base.html" %}

{% block title %} 
Profile
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
		  <div class="dropdown">
			<div class="dropdown-menu-custom">
			  <a class="dropdown-item-custom" href="{{ url_for('main.profile') }}">Change password</a>
			  <a class="dropdown-item-custom" href="{{ url_for('main.profile_change_email') }}">Change email</a>
			</div>
		  </div>  
		</div>
	  </div>
		<div class="col">
			<div class="d-flex justify-content-center h-100">
				<div class="card_login_with_alert_sign_up">
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<div class="card_email">
					<div class="card-header">
						<h3>Change Email</h3>
					</div>
						<div class="card-body">
							<form method="POST" action="">
								{{ form.csrf_token() }}
								<fieldset class="form-group">
									<div class="form-group">
										{{ form.email.label(class="form-control-label") }}
										{% if form.email.errors %}
											{{ form.email(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.email.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.email(class="form-control form-control-lg", placeholder='New Email') }}
										{% endif %}
									</div>
									<div class="form-group">
										{{ form.password.label(class="form-control-label") }}
										{% if form.password.errors %}
											{{ form.password(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.password.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.password(class="form-control form-control-lg", placeholder='Password') }}
										{% endif %}
									</div>
								</fieldset>
								<div class="form-group">
									{{ form.submit(class="btn btn-outline-primary") }}
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>

{% endblock %}