{% extends "base.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card-body">
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                {% if form.text.errors %}
                    {{ form.text(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.text.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.text(class="form-control form-control-lg", placeholder="Todo") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
    <div class="card-body">    
        {% for todo in todos %}
            {% if todo.done == false %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-size: 20pt; color: white; background-color: transparent;">
                    <a href="{{ url_for('todos.check_todo', id=todo.id) }}" type="check"><i class="far fa-circle"></i></a> 
                    <a href="#editModal{{ todo.id }}" style="text-decoration: none; color: white;" data-toggle="modal" data-target="#editModal{{ todo.id }}" type="edit" >{{ todo.text}}</a>
                    <button type="button" class="btn float-ribtn float-right btn-outline-primary" data-toggle="modal" data-target="#deleteModal{{ todo.id }}">Delete</button>
                </li>
            </ul>
            {% endif %}
            <!-- Modal edit-->
                <div class="modal fade" id="editModal{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{{ url_for('todos.edit_todo', id=todo.id) }}">
                                {{ form.csrf_token() }}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update todo?</h5>
                                    {% if form.text.errors %}
                                        {{ form.text(class="form-control form-control-lg is-invalid", value=todo.text) }}
                                        <div class="invalid-feedback">
                                            {% for error in form.text.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="modal-content">
                                            {{ form.text(class="form-control form-control-lg", value=todo.text) }}
                                        </div>
                                    {% endif %}                                    
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {{ form.submit(class="btn btn-outline-info") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- Modal delete-->
            <div class="modal fade" id="deleteModal{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete todo?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{ url_for('todos.delete_todo', id=todo.id) }}" type="delete" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if true in todos|map(attribute="done") %}
        <h2 class="title" style="font-size: 30pt; color: white;">
            Completed
        </h2>
        {% endif %}
        {% for todo in todos %}
            {% if todo.done == true %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-size: 20pt; color: white; background-color: transparent;">
                    <a href="{{ url_for('todos.uncheck_todo', id=todo.id) }}" type="uncheck" ><i class="fas fa-check-circle"></i></a> 
                    <a href="#editModal{{ todo.id }}" style="text-decoration: line-through; color: white" data-toggle="modal" data-target="#editModal{{ todo.id }}" type="edit">{{ todo.text}}</a>
                    <button type="button" class="btn float-ribtn float-right btn-outline-primary" data-toggle="modal" data-target="#deleteModal{{ todo.id }}">Delete</button>
                </li>
            </ul>
            {% endif %}
            <!-- Modal edit-->
                <div class="modal fade" id="editModal{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{{ url_for('todos.edit_todo', id=todo.id) }}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update todo?</h5>
                                    {% if form.text.errors %}
                                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.text.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.text(class="form-control form-control-lg") }}
                                    {% endif %}
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {{ form.submit(class="btn btn-outline-info") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- Modal delete-->
            <div class="modal fade" id="deleteModal{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete todo?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{{ url_for('todos.delete_todo', id=todo.id) }}" type="delete" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}